<ul>
    <% @structures.each do |structure| %>
    <li><%= link_to structure.name, comparison_grade_path(building_id: params[:building_id], structure_id: structure.id) %></li>
    <% end %>
</ul>
<script>
 </script>