<div class="main-container">
    <h1 class="text-center">
        <%= link_to "/zone/red", class: "dropdown-item" do %>
            <span>Red Zone</span>
        <%end%>
    </h1>
    <br>
    <h1 class="text-center">
        <%= link_to "/zone/grey", class: "dropdown-item" do %>
            <span>Grey Zone</span>
        <%end%>
    </h1><br>
    <h1 class="text-center">
        <%= link_to "/zone/grey", class: "dropdown-item" do %>
            <span>Grey Zone</span>
        <%end%>
    </h1>
</div>