<div class="main-container">
    <%= render 'strength_testings/testing_filter' %>
    <%= render 'strength_testings/testing_table' %>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function(event) {
        var exampleModal = document.getElementById('exampleModal')
        if(exampleModal){
            exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var strengthTestingId = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                const links = document.getElementsByClassName('day-btn');
                console.log(links);
                Array.from(links).forEach(link => {
                    link.href = link.href.replace("to_be_updated", strengthTestingId);
                });
            })
        }
    });
    

</script>