<h1 class="my-5 text-center">Edit strength testing</h1>

<%= render "form", strength_testing: @strength_testing %>



<div class="mb-5 px-3 mx-auto row container-fluid justify-content-center">
<%= link_to "Show this strength testing", @strength_testing, class: "m-3 col-sm-2 btn btn-primary" %> 
<%= link_to "Back to strength testings", strength_testings_path, class: "m-3 col-sm-2 btn btn-secondary" %>
</div>
