<h1 class = "my-5 text-center">Daily Casting</h1>

<%= render "form", strength_testing: @strength_testing %>



<div>
  <%= link_to "Back to strength testings", strength_testings_path , class: "m-3 btn btn-secondary" %>
</div>
 